<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Vigilancia Itajubá</a>


    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sair</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Log de acesso específico</h4>
            <form class="needs-validation" novalidate>
                <h6>Manutenção</h6>
                <hr>
                <div class="row mb-3">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Rua</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Entre com uma rua válida
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">CEP</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Entre com um DI válido
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Bairro</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Entre com uma rua válida
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="firstName">ID (da câmera)</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Entre com uma rua válida
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Data inicio</label>
                        <input type="date" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Entre com uma data válida
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Data fim</label>
                        <input type="date" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Entre com uma data válida
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="state">Técnico</label>
                        <select class="custom-select d-block w-100" id="state" required>
                            <option value="">Escolher...</option>
                        </select>
                    </div>
                    <div class="col-md-12 mb-3">
                        <button class="btn btn-info">Baixar</button>
                    </div>

                </div>
        </div>
    </div>
</div>