<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Vigilancia Itajubá</a>


    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sair</a>
        </li>
    </ul>
</nav>

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4">
    <h2 class="mt-3">Colaboradores registrados:</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Designação</th>
                    <th>Nome</th>
                    <th>Identificação</th>
                    <th>Data Registro</th>
                    <th>RG</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    Não há colaborador registrado.
                </tr>
            </tbody>
        </table>
    </div>
</main>
</div>
</div>